.info-sheet-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
}

.charts {
  display: inline-block;
}

.stat-card {
  display: flex;
  gap: 1rem;

  .stat-item {
    width: 240px;
    height: 100px;
    background: $brand-primary;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;

    h4 {
      font-size: 16px;
      text-align: center;
      color: white;
    }

    .stat-value {
      font-size: 24px;
      padding-top: .4rem;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }
}


.chart-card {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  max-width: 1050px;

  .chart-item {
    width: 350px;
    height: 350px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
    }

    canvas {
      width: 330px !important;
      height: 300px !important;
    }
  }
}
